/* global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  margin: 0;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: #404bbf;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

/* ELEMENTS STYLES */

/* header */
.top {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 76px;
}

.navigation-menu,
.nav-contacts .contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-menu .navigation-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation-menu .navigation-link:hover,
.navigation-menu .navigation-link:focus {
  color: #404bbf;
}

.nav-contacts {
  font-style: normal;
}

.nav-contacts .address-link {
  color: #434455;
}

.nav-contacts .address-link:hover,
.nav-contacts .address-link:focus {
  color: #404bbf;
}

.header-navigation .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-navigation .logo-end {
  color: #2e2f42;
}
/* hero */

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero .main-heading {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-cta {
  font-family: inherit;
}

/* benefits */

.benefit-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits .benefits-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.benefits .benefits-item {
  width: calc((100% - 72px) / 4);
  justify-content: center;
}

.benefits .benefit-icon {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  max-width: 264px;
  height: 112px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
}

/* team */

.team {
  background-color: #f4f4fd;
}

.team .members {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.section-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.members .team-member {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px #2e2f4208, 0px 1px 1px #2e2f4216,
    0px 2px 1px #2e2f4208;
}

.member-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.members .member-name {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.member-role {
  font-size: 16px;
  text-align: center;
}

.social-icon-single {
  height: 16px;
  width: 16px;
}

/* Portfolio */
.portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .project-card {
  width: calc((100% - 48px) / 3);
}

.portfolio .project-card:hover {
  box-shadow: 0px 1px 6px #2e2f4208, 0px 1px 1px #2e2f4216,
    0px 2px 1px #2e2f4208;
  cursor: pointer;
}
.project-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .project-title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio .project-field {
  margin-bottom: 32px;
}
/* Footer */
.bottom {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom .bottom-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.bottom .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.bottom .logo-end {
  color: #f4f4fd;
}
